<p>Welcome Home</p>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card welcome-card">
                <div class="card-header bg-primary text-white">
                    Welcome
                </div>
                <div class="card-body">
                    <!-- <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p> -->
                    <img src="{{homeImgUrl}}">
                </div>
                <div class="card-footer text-muted">
                    Created by &copy;Sonal 
                </div>
            </div>
            
        </div>
    </div>
</div>