/* You can add global styles to this file, and also import other style files */

button.btn.sumbit {
    background: #1cc7d0;
    color: #fff;
}

.heading {
    text-shadow: 2px 0px 5px #3f3f3f;
    font-weight: 200;
    letter-spacing: 2px;
}
