<div class="reg-img">
        <div class="overlay">
                <h3 class="heading text-center text-white">Registration Form</h3>
                <div class="container">
                <div class="row">
                <div class="col-sm-6 col-md-4 offset-md-4">
                        <div class="register-wal">
                        <form class="form-signin" [formGroup]= "Register" (ngSubmit) = "Save(Register.value)">
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter First Name" 
                                        formControlName="FirstName"
                                        [class.is-valid]="Register.controls.FirstName.valid"
                                        [class.is-invalid]="!Register.controls.FirstName.valid && submitted"
                                        >
                                        <div class= "valid-feedback">
                                                Looks Correct
                                        </div>
                                        <div class="invalid-feedback">
                                                Please Enter Correct Firstname.
                                        </div>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Last Name" 
                                        formControlName='LastName'
                                        [class.is-valid]="Register.controls.LastName.valid"
                                        [class.is-invalid]="!Register.controls.LastName.valid && submitted"
                                        >
                                        <div class= "valid-feedback">
                                                Looks Correct
                                                </div>
                                                <div class="invalid-feedback">
                                                        Please Enter Correct Lastname.
                                                </div>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Mobile No." 
                                        formControlName="MobileNo"
                                        [class.is-valid]="Register.controls.MobileNo.valid"
                                        [class.is-invalid]="!Register.controls.MobileNo.valid && submitted"
                                        >
                                        <div class= "valid-feedback">
                                                Looks Correct
                                                </div>
                                                <div class="invalid-feedback">
                                                        Please Enter Correct Mobile No.
                                                </div>
                                </div>
                                <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter Email Id" 
                                        formControlName="EmailId"
                                        [class.is-valid]="Register.controls.EmailId.valid"
                                        [class.is-invalid]="!Register.controls.EmailId.valid && submitted"
                                        >
                                        <div class= "valid-feedback">
                                                Looks Correct
                                                </div>
                                                <div class="invalid-feedback">
                                                        Please Enter Correct Email Id.
                                                </div>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Address" 
                                        formControlName="Address"
                                        [class.is-valid]="Register.controls.Address.valid"
                                        [class.is-invalid]="!Register.controls.Address.valid && submitted"
                                        >
                                        <div class= "valid-feedback">
                                                Looks Correct
                                                </div>
                                                <div class="invalid-feedback">
                                                        Please Enter Correct Address.
                                                </div>
                                </div>

                                        <div formGroupName="UserLogin">
                                                <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter Username" 
                                                formControlName="UserName"
                                                [class.is-valid]="Register.controls.UserLogin.controls.UserName.valid"
                                                [class.is-invalid]="!Register.controls.UserLogin.controls.UserName.valid && submitted"
                                                >
                                                <div class= "valid-feedback">
                                                        Looks Correct
                                                        </div>
                                                        <div class="invalid-feedback">
                                                                Please Enter Correct Username.
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Enter Password" 
                                                formControlName="Password"
                                                [class.is-valid]="Register.controls.UserLogin.controls.Password.valid"
                                                [class.is-invalid]="!Register.controls.UserLogin.controls.Password.valid && submitted"
                                                >            
                                                <div class= "valid-feedback">
                                                        Looks Correct
                                                        </div>
                                                        <div class="invalid-feedback">
                                                                Please Enter Correct Password.
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="text-center">
                                        <button class="btn sumbit" type="submit">
                                                        <span class="fa fa-sign-in"></span>
                                                        Register
                                                </button>
                                        </div>
                        </form>
                        </div>
                </div>
                </div>
        </div>
        </div>
</div>    