/* You can add global styles to this file, and also import other style files */
.navbar-default {
    background-color: #d5d5d5;
    border-color: #e7e7e7;
}

.nav-link{
    color: #555555;

}
 
.welcome-card{
    border: 1px solid #007bff;
}

.prodimg{
    width:100px;
}