<!-- <p>productlist works!</p> -->
<br>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card welcome-card">
                <div class="card-header bg-primary text-white">
                    Product List <span></span> <span>{{currentRating}}</span>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
    
                                        Filter by: 
                                    <input type="search" name="" id="search" class="form-control col-md-6" 
                                        placeholder="Search Here.." name="search" [(ngModel)]="searchModel">
                                    <p>filter by {{searchModel}}</p>
                                    
                                </div>
                                    
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><button type="button" class="btn btn-primary"
                                        (click)= "hide()"
                                        >{{isHide ? 'Hide Image' : 'Show Image'}}</button>

                                    </th>
                                    <th>Product Name</th>
                                    <th>Code</th>
                                    <th>Available</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor ="let proData of prodData  | searchData : searchModel">
                                    <td><img src="{{proData.productImage}}" class="prodimg img-fluid" alt=""
                                        *ngIf="isHide"></td>
                                    <td><a routerLink= "/product-details/{{ proData.productId }}"> {{proData.product}} </a></td>
                                    <td>{{proData.code}}</td>
                                    <td>{{proData.available}}</td>
                                    <td>{{proData.price}}</td>
                                    <td title='{{proData.rating}}'>
                                        <app-ratings [rate] = "proData.rating"  (item)="AddRating($event)"></app-ratings>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


