<!-- <p>productlist works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card welcome-card">
                <div class="card-header bg-primary text-white">
                    Product List
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                  Filter by: 
                              <input type="search" name="" id="search" class="form-control" placeholder="Search Here.." aria-describedby="helpId">
                            </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><button type="button" class="btn btn-primary">Hide Image</button></th>
                                    <th>Product Name</th>
                                    <th>Code</th>
                                    <th>Available</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row"></td>
                                    <td></td>
                                    <td></td>
                                </tr>                                
                            </tbody>
                        </table>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


